<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Anonymous" />
    <meta name="keywords" content="众惠 互助 平台" />
    <meta name="description" content="欢迎来到众惠互助平台！"/>
    <meta property="og:title" content="众惠互助平台"/>
    <meta property="og:description" content="欢迎来到众惠互助平台！"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">

    <title>平台规则 - 众惠互助平台</title>

    <link href="__ADMINCSS__/style.css" rel="stylesheet">
    <link href="__ADMINCSS__/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__ADMINJS__/html5shiv.js"></script>
    <script src="__ADMINJS__/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>

    <include file="Public:left" />
    
    <!-- main content start-->
    <div class="main-content" >

        <include file="Public:top" />

        <!--body wrapper start-->
        <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">平台规则</div>
                <div class="panel-body">
                    <h1>众惠互助平台</h1><br>
                    
					<div class="row">
            		<div class="col-sm-12">
                    <div class="panel">
                    <div class="panel-body">
                        <table class="table  table-hover general-table">
                            <thead>
                            <tr>
                                <th>会员等级</th>
                                <th>收益层级</th>
                                <th>收益额度</th>
                                <th>收益总额</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="label label-warning label-mini">Lv.1</span></td>
                                    <td>3人层</td>
                                    <td>50元</td>
                                    <td>150元</td>
                                </tr>
                                <tr>
                                    <td><span class="label label-warning label-mini">Lv.2</span></td>
                                    <td>9人层</td>
                                    <td>150元</td>
                                    <td>1050元</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                    </div>
                    </div>

					投入50元，赚150万。<br>

					下面我说一下规则。<br>

					这个平台终身只需投资50块钱。我保你赚150万元。<br>
					想赚这个150万，刚开始。你可能需要几个月。到后来。你可能只需要一个月。如果你够厉害。也许一星期你就可以赚到150万元。<br>
					我们的平台。分为有三个级别。<br>
					第一局<br>
					首先，你需要捐赠给你的邀请老师50元的红包，我想谁都不差这50元吧。朋友推荐你这个项目。不可能就为了骗你50元钱。但是，如果你把这50元钱投入到这个平台。他可以给你带来的确是意想不到的收入。何乐而不为。<br>
					平台采用的是几何倍增学的原理。<br>
					简单来说。比喻，数式公式:1*3=3.    3*3=9    9*3=27.就是这样的 <br>模式，你花50元钱给老师。你要做的就是邀请三个朋友给你50元钱。然后开启疯狂的赚钱模式。<br>

					第一步：你给你的邀请发老师50元钱。你的老师会在平台上给你开通一个账号，并给你确认；你就可以升为一级。这时你就可以邀请三个朋友加入。多了也可以；少了你赚不到150万。邀请三人，每人像你一样的投资50元，应该不难。
					第二步：当你收到三个50元以后，你就要升级了。要从1级升到2级.<br>那么这个时候你需要做的就是申请升级并向外捐赠150元钱。那么这个时候。你的投资还是50元。<br>
					当你捐赠完以后。你就已经升到2级。升完2级以后。接下来就会有9人给你赠送150元。你收到的就是1350元。<br>

					那么这样算下来，你捐赠的分别是50元+150元＝200元。200是你捐赠出去的。但是你真正拿出去的钱只有50元而已。<br>
					但是你得到的确是150元+1350元＝1500元。<br>
					这个时候。你就退出了第一局；进入第二局。<br>
					如果还想继续做第一局。那么你需要做的就是，然后从0做起。这个时候。你虽然退出了。但是之前你后面还有一些0级1级的人还在继续做。如果你继续重做的话。就会安排在他们的下面，这样你之前的下级。 就变成了你的上级，就这样，下来一个2级，就又变成0级，就这样一点点循环发展下去。之前的人就被你又推上了2级，然后退出，他们如果继续游戏。就又会在你下面继续发展。直接又把你给推上了2级。<br>
					所以说刚开始做有点累。做到最后。你就会感觉。赚钱原来这么轻松。<br>
					你升一级，给你上一层 捐50元<br>
					你升二级，给你上二层 捐150元<br>
					---------------------------------<br>
					下一层，升级一级，3个人给你共150元<br>
					下二层，升级二级，9个人给你共1350元<br>

					第二局；<br>
					三三复制3层出局<br>
					无推荐人关系<br>
					全部公排     自动滑落    自动升级     <br>

					第一次打出500元 升一级          收到3个500元是1500元<br>
					第二次打出1000元 升二级         收到9个1000元是9000元<br>
					第三次打出5000元升三级          收到27个5000元是135000元<br>
					  3次共收145500元。<br>
					 这个时候。你就退出了第二局；进入第三局。 <br>

					第三局；<br>
					三三复制3层出局<br>
					无推荐人关系<br>
					全部公排     自动滑落    自动升级     <br>

					第一次打出5000元 升一级          收到3个5000元是15000元<br>
					第二次打出10000元 升二级         收到9个10000元是90000元<br>
					第三次打出50000元升三级          收到27个50000元是1350000元<br>

					 3次共收1455000元。<br>
					这个时候。你就完美出局。<br>

					众惠精神：<br>
					以团队为中心，齐心协力，公开排点，满点运作。让每一位相信、热爱众惠的家人，都能以最快的时间赚到钱。众惠互助的概念里，没有弱者，没有最低点位，只有最强、最快。众惠不会让每一位家人掉队，这就是众惠的精神！<br>

					众惠原则：<br>
					众惠对所有家人，都是公开、公平、公正，以大家注册、升级顺序来安排位置，每个人的位置（b）都是永久有效（违纪开除和自愿放弃除外）。加入众惠互助的家人，都是按照时间点位顺序往下排列，希望每一位家人都珍惜自己的点位！<br>

					众惠互助加入要求：<br>
					正能量、凝聚力、服从力<br>
					一定的承担风险能力<br>
					为团队做出贡献精神<br>

					众惠互助目标：<br>
					众惠要以独特的管理理念和运作模式，力争半年内打造出一支，拥有百万人的优质明星团队。要让众惠互助走向全国，甚至世界！<br>

					众惠口号：<br>
					众惠互助随时欢迎每一位拥有梦想、激情、正能量的伙伴，加入团队来共同携手打拼市场。机会永远留给有准备的人！<br>

					众惠互助公益规划：<br>
					众惠互助会不断推出公益帐号，公益帐号由总经办安排专人负责。公益帐号收入的初步规划：<br>

					捐助慈善事业<br>

					为团队努力付出优秀战友的奖品<br>

					安排优秀战友旅游、聚会<br>

					安排优秀战友进行高端团队管理培训会<br>

					众惠互助所有的对公支出等！ <br>

                </div>
            </div>
            </div>
        </div>

        <!--body wrapper end-->

        <!-- page end-->
        </section>
        <!--body wrapper end-->

    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="__ADMINJS__/jquery-2.2.1.min.js"></script>
<script src="__ADMINJS__/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__ADMINJS__/jquery-migrate-1.2.1.min.js"></script>
<script src="__ADMINJS__/bootstrap.min.js"></script>
<script src="__ADMINJS__/modernizr.min.js"></script>
<script src="__ADMINJS__/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="__ADMINJS__/scripts.js"></script>

<script>var url = "<{:U('Home/Index/weixin')}>";</script>
<script src="__ADMINJS__/weixin.js"></script>

</body>
</html>
