<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Anonymous" />
    <meta name="keywords" content="众惠 互助 平台" />
    <meta name="description" content="欢迎来到众惠互助平台！"/>
    <meta property="og:title" content="众惠互助平台"/>
    <meta property="og:description" content="欢迎来到众惠互助平台！"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">

    <title>团队消息 - 众惠互助平台</title>

    <link href="__ADMINCSS__/style.css" rel="stylesheet">
    <link href="__ADMINCSS__/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__ADMINJS__/html5shiv.js"></script>
    <script src="__ADMINJS__/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>

    <include file="Public:left" />
    
    <!-- main content start-->
    <div class="main-content" >

        <include file="Public:top" />

        <!--body wrapper start-->
        <section class="wrapper">
        <!-- page start-->
        
        <div class="row">
            <foreach name="data" item="vo">
                <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><{$vo['applytime']|date='Y-m-d H:i:s',###}></div>
                    <div class="panel-body">
                    	<h4>
                        用户编号为 <strong><{$vo['usernumber']}></strong> 的 <strong><{$vo['username']}></strong> 向您请求升级为

                            <if condition="$vo['currentlevel']+1 eq 4">
                                <strong>进入C轮</strong>
                            <else/>
                                <strong> Lv.<{$vo['currentlevel']+1}> </strong>
                            </if>

                            ，如果您已收到<strong> <{$vo['shouldmoney']}>元 </strong>升级款项，请确认收款。
                        </h4>
                        <div class="modal-footer">
                         <if condition="($vo['isrece'] eq 1)">
                          <button disabled="disabled" data-toggle="modal" class="btn btn-default">      已经收款</button>
                          <else />
                            <a href="<{:U('B/Uprecord/updateData', array('usernumber'=>$vo['usernumber']))}>" class="btn btn-primary">确认收款</a>
                          </if>
                        </div>
                    </div>
                </div>
                </div>
            </foreach>
        </div>
       
        <!--body wrapper end-->

        <!-- page end-->
        </section>
        <!--body wrapper end-->
        
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="__ADMINJS__/jquery-2.2.1.min.js"></script>
<script src="__ADMINJS__/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__ADMINJS__/jquery-migrate-1.2.1.min.js"></script>
<script src="__ADMINJS__/bootstrap.min.js"></script>
<script src="__ADMINJS__/modernizr.min.js"></script>
<script src="__ADMINJS__/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="__ADMINJS__/scripts.js"></script>

<script>var url = "<{:U('Home/Index/weixin')}>";</script>
<script src="__ADMINJS__/weixin.js"></script>

</body>
</html>
