<!-- left side start-->
<div class="left-side sticky-left-side">

    <!--logo and iconic logo start-->
    <div class="logo">
        <a href=""><img src="__ADMINIMAGES__/logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
        <img src="__ADMINIMAGES__/logo_icon.png" alt="">
    </div>
    <!--logo and iconic logo end-->


    <div class="left-side-inner">

        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li><a href="<{:U('A/Index/index')}>"><i class="fa fa-file-text"></i> <span>Ａ轮首页</span></a></li>
            <li><a href="<{:U('A/Applyupgrade/index')}>"><i class="fa fa-bar-chart-o"></i> <span>申请升级</span></a></li>
            <li><a href="<{:U('A/Mydata/index')}>"><i class="fa fa-user"></i> <span>我的资料</span></a></li>
            <li><a href="<{:U('A/Dataupdate/index')}>"><i class="fa fa-cogs"></i> <span>资料修改</span></a></li>
            <li><a href="<{:U('A/Userregister/index')}>"><i class="fa fa-laptop"></i> <span>注册账号</span></a></li>
            <li><a href="<{:U('A/Uprecord/index')}>"><i class="fa fa-book"></i> <span>团队消息</span></a></li>
            <li><a href="<{:U('A/Other/rule')}>"><i class="fa fa-th-list"></i> <span>平台规则</span></a></li>
            <li><a href="<{:U('A/Login/logout')}>"><i class="fa fa-sign-out"></i> <span>安全退出</span></a></li>
            <!--
            <li><a href=""><i class="fa fa-file-text"></i> <span></span></a></li>
            <li><a href=""><i class="fa fa-tasks"></i> <span>团队结构</span></a></li>
            <li><a href=""><i class="fa fa-map-marker"></i> <span></span></a></li>
            -->
        </ul>
        <!--sidebar nav end-->
        
    </div>
</div>
<!-- left side end-->